build==1.2.1
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
ibm-cloud-sdk-core==3.20.1
ibm-platform-services==0.53.7
idna==3.7
importlib_metadata==7.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.0
prettytable==3.10.0
prompt_toolkit==3.0.46
Pygments==2.18.0
PyJWT==2.8.0
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
requests==2.32.2
rich==13.7.1
six==1.16.0
SoftLayer==6.2.2
tomli==2.0.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.19.2
